
export POSTGRES_DBNAME=postgres
export POSTGRES_ADMIN=postgres
export POSTGRES_ADMIN_PASSWORD=admin_password
export POSTGRES_INGEST_DB_HOST=localhost
export POSTGRES_INGEST_DB_PORT=5432
export POSTGRES_INGEST_USER=ingest_user
export POSTGRES_INGEST_PASSWORD=ingest
export POSTGRES_VIEWER_USER=viewer
export POSTGRES_VIEWER_PASSWORD=viewer

export MB_DB_TYPE=postgres
export MB_DB_HOST=postgres-db
export MB_DB_PORT=5432
export MB_DB_DBNAME=metabase_db
export MB_DB_USER=metabase_app_user
export MB_DB_PASS=metabase_password
export MB_APP_ADMIN=metabase_admin
export MB_APP_ADMIN_PASS=metabase_admin_password1
export MB_APP_ADMIN_EMAIL=ingest_data_portal@gmail.com
export MB_APP_URL=http://localhost:3000
