
export POSTGRES_DBNAME=postgres
export POSTGRES_ADMIN=postgres
export POSTGRES_ADMIN_PASSWORD=admin_password
export POSTGRES_INGEST_USER=ingest_user
export POSTGRES_INGEST_PASSWORD=ingest
export POSTGRES_VIEWER_USER=viewer
export POSTGRES_VIEWER_PASSWORD=viewer

export MB_DB_TYPE=postgres
export MB_DB_HOST=postgres-db
export MB_DB_PORT=5432
export MB_DB_DBNAME=$POSTGRES_DBNAME
export MB_DB_USER=$POSTGRES_ADMIN
export MB_DB_PASS=$POSTGRES_ADMIN_PASSWORD

